layout_poetry

export sysenv=test
export ABUSE_API_URL='https://abuse.api.int.test-godaddy.com/v1/abuse/tickets'
export SERVICE_URL='http://cmapservice.int.test-godaddy.com/'
export QUEUE_TYPE='quorum'
kube_secret_env generic SINGLE_BROKER test-dcu:abuse-api-test: amqp-connection-string-v2:url
kube_secret_env generic MULTIPLE_BROKERS test-dcu:abuse-api-test: amqp-shared-creds:multiple_brokers_grandma
kube_secret_env generic SSO_USER test-dcu:abuse-api-test:abuse-api-user:username
kube_secret_env generic SSO_PASSWORD test-dcu:abuse-api-test:abuse-api-user:password
kube_secret_env generic DB_PASS test-dcu:abuse-api-test:db-phishstory-v2:password
kube_secret_env cert CMAP_CLIENT test-dcu:abuse-api-test:tls-cmap
kube_secret_env generic POETRY_HTTP_BASIC_GDDY_USERNAME dev-dcu:abuse-api-dev:poetry-creds:username
kube_secret_env generic POETRY_HTTP_BASIC_GDDY_PASSWORD dev-dcu:abuse-api-dev:poetry-creds:password
export CMAP_CERT="$CMAP_CLIENT_CERT"
export CMAP_KEY="$CMAP_CLIENT_KEY"
