layout_poetry

export sysenv=test
export ABUSE_API_URL='https://abuse.api.int.test-godaddy.com/v1/abuse/tickets'
export SERVICE_URL='http://cmapservice.int.test-godaddy.com/'
export QUEUE_TYPE='quorum'
kube_secret_env generic MULTIPLE_BROKERS test-cset:abuse-api-test:amqp-shared-creds:multiple_brokers_grandma
kube_secret_env generic SSO_USER test-cset:abuse-api-test:abuse-api-user:username
kube_secret_env generic SSO_PASSWORD test-cset:abuse-api-test:abuse-api-user:password
kube_secret_env generic DB_PASS test-cset:abuse-api-test:db-phishstory-v2:password
kube_secret_env cert CMAP_CLIENT test-cset:abuse-api-test:tls-middleware-client-cert
kube_secret_env cert MONGO_CLIENT test-cset:abuse-api-test:tls-mongo-common-cert-files
kube_secret_env generic POETRY_HTTP_BASIC_GDDY_USERNAME dev-cset:abuse-api-dev:poetry-creds:username
kube_secret_env generic POETRY_HTTP_BASIC_GDDY_PASSWORD dev-cset:abuse-api-dev:poetry-creds:password
export CMAP_CLIENT_CERT="$CMAP_CLIENT_CERT"
export CMAP_CLIENT_KEY="$CMAP_CLIENT_KEY"
export MONGO_CLIENT_CERT="$MONGO_CLIENT_CERT"